html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../public/Images/bgpic.avif'); 
  background-position: center;
}
.box {
  height: auto;
  width: auto;
  background-color: rgba(236, 240, 241, 0.9); 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  padding: 20px;
}

.box p{
  margin: 0;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #333333;
}

.box h1{
  margin: 0;
  margin-top: 4px;
  font-size: 50px;
  text-align: center;
  color: #000000;
}

.btn-box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2E4053; 
  color: #ECF0F1; 
  transition: background-color 0.3s ease; 
}

.btn:hover {
  background-color: #17202A; 
}